@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

$colorA: #C9DABF;
$colorB: #9CA986;
$colorC: #808D7C;
$colorD: #5F6F65;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, $colorC, $colorD);
  color: $colorA;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: $colorD;
  span{
    margin: auto;
    margin-left: 0;
    font-weight: bolder;
    font-size: 1.3rem;
  }
  ul{
    display: flex;
    li{
      list-style: none;
      display: inline;
      margin: auto 1rem;
      a{
        color: $colorA;
        font-weight: bold;
        &:hover{
          color: $colorC;
        }
      }
    }
  }
}
